<head>
    <meta charset="utf-8">
    <title> simple interface </title>
    <link rel="shortcut icon"  type="image/ico"  href="">

    <!-- .js -->

    {% if platf == 'win' %}
        <script src="{{ url_for('static', filename='js/socket.io-3-0-4.js') }}"></script>
        <script> alert('win') </script>
    {% else %}
         <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
         <script> alert('unix') </script>
    {% endif %}


    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/page_proc.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.css" rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min-1.11.4.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.min.css" rel="stylesheet"/>


    <script src="/static/js/drawerJs.standalone.js"></script>
    <script src="/static/js/drawerLocalization.js"></script>
    <script src="/static/js/drawerJsConfig.js"></script>

    <link rel="stylesheet" href="fonts/font-awesome/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/drawerJs.min.css" />

    <style>
        #canvas-editor {
            margin-top: 50px;
            margin-left: 50px;
        }
    </style>

</head>
